用户id,最小单种体积,最少总认领体积,最少总认领数,最少做种时间,认领名次合格种子数比例,认领名次合格种子数体积比例,认领名次魔力比例,合格认领小组,不合格认领分类,工资比例,工资体积系数,工资种子寿命系数,工资做种时间系数,工资做种人数系数,最多允许同伴数,最少第一认领占体积比,备注
92102,0.99,2048,100,12.5,1 1 adoption_number_ratio_function,1 1 adoption_size_ratio_function,1 0.8 0.6 0.3,1 6 9 18 22 28 31 34,402,0.4,1,1,1,1,0,0.5,酱油保种员
